html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white;
    color: #868686;
    font: 12px sans-serif;
    min-width: 1050px;
}

img {
    border: 0;
}

a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.dx-simulator {
    margin: 40px auto 0;
}

.body {
    margin-top: -180px;
    min-height: 100%;
}

.site-content {
    padding-top: 150px;
    position: relative;
}

.footer {
    height: 150px;
}

    .footer .left {
        float: left;
        margin: 50px 0 0 40px;
    }

.left .text {
    border-left: 1px solid rgba(0,0,0,0.25);
    margin: 0 0 0 30px;
    padding: 0 0 0 30px;
}

    .left .text h2 {
        color: #393939;
        margin-bottom: 0;
    }

    .left .text p {
        margin-top: 0;
    }

    .left .text a {
        color: #f05b41;
        text-decoration: none;
    }

        .left .text a:hover {
            text-decoration: underline;
        }


.footer div {
    display: inline-block;
}

.dx-logo {
    width: 156px;
    height: 27px;
    opacity: 0.5;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../lib/Images/dx_logo.png);
}

.qr-container {
    bottom: 0;
    left: 0;
    width: 280px;
    height: 150px;
    text-align: center;
    float: right;
    margin-right: 20px;
}

    .qr-container img {
        width: 140px;
        height: 140px;
    }


    .qr-container .hint {
        font-size: 15px;
        position: relative;
        top: -30px;
        text-align: right;
        left: -10px;
    }



#oldDeviceSwitcher {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: left;
}

#deviceSwitcher {
    position: absolute;
    top: 190px;
    right: 20px;
    text-align: left;
    z-index: 5;
}

.device-button {
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(Images/Icons/generic.png);
}

    .device-button.iOS7 {
        background-image: url(Images/Icons/ios.png);
    }

    .device-button.Android {
        background-image: url(Images/Icons/android.png);
    }

    .device-button.WindowsPhone {
        background-image: url(Images/Icons/windows_phone.png);
    }

    .device-button.Generic {
        background-image: url(Images/Icons/generic.png);
    }

    .device-button.active {
        background-color: #FAFAFA;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.15);
    }

    .device-button.Phone {
        background-image: url(Images/Icons/generic.png);
    }

    .device-button.Tablet {
        background-image: url(Images/Icons/ipad.png);
    }


@media(max-width: 1500px) {
    .body .site-content.tablet .dx-simulator #deviceFrame {
        -moz-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        top: -145px;
        position: absolute;
        left: -154px;
        width: 1024px;
        height: 768px;
    }

    .body .site-content.tablet .dx-simulator {
        background-size: 616px 432px;
        background-position: 51px 23px;
        width: 512px;
        height: 384px;
    }
}

.dx-simulator {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dx-simulator-wrapper {
    margin: 0 auto;
}

.dx-simulator iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    background: #333;
}

.dx-simulator-back-wrapper {
    position: relative;
}

/* iPhone */
.dx-simulator-iphone5-p {
    width: 320px;
    height: 568px;
	padding: 116px 62px 116px 32px;
    background: url(../lib/Images/ios.png) 0 0 no-repeat;
}